*, *:before, *:after {
  box-sizing: border-box;
}
body{
  background-color: white;
  font-size: 1.2em;
  font-family: "SF Pro Display", "raleway", sans-serif;
}

.container{
  display: block;
  width: 100%;
}

.base {
  content:url(../images/base.png);
  width:100%;
  padding-bottom:2%;
}

.image {
  content:url(../images/Left.png);
}

h1{
  font-size: 34px;
  font-weight: bold;
  padding: 2%;
  padding: 4%;
}

.line{
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 4%;
  padding-top: 5%;
}

.street{
  padding-left: 4%;
  padding-bottom: 5%;
}

.square{
  background-color: #F1F5FF;
}

.square_white{
  background-color: white;
}

.square:hover {
  background-color: #F1F1F1;
}
.square_white:hover {
  background-color: #F1F1F1;
}

.frequency{
  display: inline-block;
  padding-left: 2%
}

.arrow {
  margin-top: 10%;
  margin-right: 4%;
  float: right;
  color: gray;
}

.bottomNav {
  background-color: #ECECEC;
  width: 100%;
  padding: 5%;
  text-align: center;
}

.favorites {
  content:url(../images/navBar/fillOne.png);
  display: inline-block;
  position:absolute;
  width: 6%;
  left: 20%;
  margin-left: -5%;
  bottom: -32.3%;
}

.routes {
  content:url(../images/navBar/locationIcon.png);
  display: inline-block;
  position:absolute;
  width: 6%;
  left: 50%;
  margin-left:-2%;
  bottom: -32.5%;
}

.profile {
  content:url(../images/navBar/sharedCopy.png);
  display: inline-block;
  position:absolute;
  width: 7%;
  right: 20%;
  margin-right: -5%;
  bottom: -32.3%;
}

nav h3 {
  font-size: 12px;
}

.bottomText li {
  display: inline;
  color: #8A8A8F;
}

#fav {
  display: inline-block;
  position:absolute;
  width: 6%;
  left: 20%;
  margin-left: -8%;
  padding-top:1.5%;
}

#rt {
  display: inline-block;
  position:absolute;
  width: 6%;
  left: 50%;
  margin-left:-2.5%;
  padding-top:1.5%;
}

#prof {
  display: inline-block;
  padding-left: 33%;
  position:absolute;
  width: 6%;
  right: 20%;
  margin-right: 2.5%;
  padding-top:1.5%;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 23%;
  }
}

/*
h1{
  font-size: 1.5em;
  font-weight: bold;
  padding: 3%;
  padding-top: 10%;
  padding-left: 5%;
  color: black;
}

.divTable{
	display: table;
  table-layout: fixed;
	width: 100%;
}

#pic {
  background-image: url(../images/Back_Arrow_Copy.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}

#header {
  background-color: yellow;
}

#a {
  background-color: white;
}

#b {
  background-color: #F1F5FF;
}

.divTableRow {
	display: table-row;
}

.divTableCell {
	display: table-cell;
	padding: 2% 2%;
  padding-left: 5%;
  text-align: left;
  width: 100%;
}

.divTableBody {
	display: table-row-group;
}

.bold {
  font-weight: bold;
}

.long {

}

#uiBar{
  background-image: url(../images/uiBar.png);
  background-repeat: no-repeat;
  background-size: auto;
  max-width: 100%;
  height: auto;
}
*/
